@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Sora:wght@400;500;600;700&display=swap');
@import "tailwindcss";


body {
  font-family: "Inter", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Sora", sans-serif;
}

@layer base {
  body {
    @apply bg-[#1E2229] text-white; 
    font-family: 'Inter', sans-serif; 
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }
}






.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}


.text-primary {
  color: #9DE2E2;
}

.bg-primary {
  background-color:#9DE2E2
}

.text-secondary {
  color: #F4F4F5;
}

.bg-display{
  background-color: #16191D;
}

/* .text-primary {
  color: #165656;
}

.bg-primary {
  background-color:#003939
}
  */


.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}


.neon-blink {
  animation: neonBlink 1.5s infinite;
  color: #ffffff; 
  font-weight: bold;
}

@keyframes neonBlink {
  0%, 100% { 
    text-shadow: 0 0 1px #BE5EED, 0 0 2px #BE5EED, 0 0 3px #BE5EED; 
  }
  50% { 
    text-shadow: 0 0 1px #ffffff, 0 0 2px #601089, 0 0 3px #BE5EED; 
  }
}

.scrollable-table::-webkit-scrollbar {
  width: 6px;
}

.scrollable-table::-webkit-scrollbar-track {
  background: #1a1a1a; /* dark track */
}

.scrollable-table::-webkit-scrollbar-thumb {
  background-color: #4b5563; /* dark thumb */
  border-radius: 3px;
}








/* ❌ REMOVE MOBILE BLUE TAP */
.rdp * {
  -webkit-tap-highlight-color: transparent;
}



@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}








/* Slide animation */
@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateX(40px) scale(0.95);
  }
  to {
    opacity: 1;
    transform: translateX(0) scale(1);
  }
}

/* Apply animation */
.react-hot-toast {
  animation: slideIn 0.3s ease forwards;
}

/* Glow on hover */
.react-hot-toast:hover {
  box-shadow: 0 0 12px rgba(145, 207, 208, 0.4);
}